[submodule "Adafruit_Sensor_Calibration"]
	path = Adafruit_Sensor_Calibration
	url = https://github.com/adafruit/Adafruit_Sensor_Calibration.git
[submodule "SdFat"]
	path = SdFat
	url = https://github.com/adafruit/SdFat.git
[submodule "ArduinoJson"]
	path = ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "Adafruit_SPIFlash"]
	path = Adafruit_SPIFlash
	url = https://github.com/adafruit/Adafruit_SPIFlash.git
[submodule "Adafruit_Sensor"]
	path = Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "ArduinoCore-avr"]
	path = ArduinoCore-avr
	url = https://github.com/arduino/ArduinoCore-avr.git
